/* dashboard */
#adminDashboard .statistic-box.total-teacher {
  background-color: rgb(242, 248, 255);
}
#adminDashboard .statistic-box.total-teacher:hover {
  background-color: rgb(221, 237, 255);
}
#adminDashboard .statistic-box.total-teacher .statistic-value {
  color: rgb(0, 96, 206);
}
#adminDashboard .statistic-box.total-approved-teacher {
  background-color: rgb(248, 255, 238);
}
#adminDashboard .statistic-box.total-approved-teacher:hover {
  background-color: rgb(236, 255, 208);
}
#adminDashboard .statistic-box.total-approved-teacher .statistic-value {
  color: rgb(133, 216, 0);
}
#adminDashboard .statistic-box.total-in-review-teacher {
  background-color: rgb(255, 248, 238);
}
#adminDashboard .statistic-box.total-in-review-teacher:hover {
  background-color: rgb(255, 240, 219);
}
#adminDashboard .statistic-box.total-in-review-teacher .statistic-value {
  color: rgb(238, 139, 0);
}
#adminDashboard .statistic-box.total-student {
  background-color: rgb(255, 255, 238);
}
#adminDashboard .statistic-box.total-student:hover {
  background-color: rgb(255, 255, 221);
}
#adminDashboard .statistic-box.total-student .statistic-value {
  color: rgb(212, 212, 0);
}
#adminDashboard .statistic-box.total-parent {
  background-color: rgb(255, 238, 248);
}
#adminDashboard .statistic-box.total-parent:hover {
  background-color: rgb(255, 221, 241);
}
#adminDashboard .statistic-box.total-parent .statistic-value {
  color: rgb(223, 0, 130);
}
#adminDashboard .statistic-box.total-course {
  background-color: rgb(247, 242, 255);
}
#adminDashboard .statistic-box.total-course:hover {
  background-color: rgb(237, 227, 253);
}
#adminDashboard .statistic-box.total-course .statistic-value {
  color: rgb(106, 0, 255);
}

/* management pages */

/* teacher management */
#adminTeacherManagement .list th:nth-child(1),
#adminTeacherManagement .list td:nth-child(1) {
  text-align: left;
}
#adminTeacherManagement .list th:nth-child(2),
#adminTeacherManagement .list td:nth-child(2) {
  width: 14rem;
}
#adminTeacherManagement .list th:nth-child(3),
#adminTeacherManagement .list td:nth-child(3) {
  width: 12rem;
}
#adminTeacherManagement .list th:nth-child(4),
#adminTeacherManagement .list td:nth-child(4) {
  width: 12rem;
}
#adminTeacherManagement .table th:last-child,
#adminTeacherManagement .table td:last-child {
  width: 7rem;
}
#adminTeacherManagement .list .status {
  display: inline-block;
  width: 8rem;
  padding: 0.5rem 1rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: var(--border);
  text-transform: capitalize;
}
#adminTeacherManagement .list .status.approuvé {
  background-color: #8eb48618;
  color: #8eb486;
  border-color: #8eb486;
}
#adminTeacherManagement .list .status.en-cours {
  background-color: #81bfda1e;
  color: #81bfda;
  border-color: #81bfda;
}
#adminTeacherManagement .list .status.en-révision {
  background-color: #f0bc7815;
  color: #f0bb78;
  border-color: #f0bb78;
}
#adminTeacherManagement .list .status.rejeté {
  background-color: #ff748b21;
  color: #ff748b;
  border-color: #ff748b;
}
#adminTeacherManagement .status-filter .button {
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  border: var(--border);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}
#adminTeacherManagement .status-filter .button.active,
#adminTeacherManagement .status-filter .button:hover {
  background-color: #fff;
  border-color: var(--accent-color);
  color: var(--dark-text-color);
}

/* teacher details */
#adminTeacherDetails .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#adminTeacherDetails .content-section .right-content {
  flex: 1.5;
}
#adminTeacherDetails .section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
#adminTeacherDetails .section.user-courses {
  flex: 1.5;
}
#adminTeacherDetails .profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
#adminTeacherDetails .profile-top .status {
  display: inline-block;
  width: 8rem;
  padding: 0.5rem 1rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: var(--border);
  text-transform: capitalize;
  text-align: center;
}
#adminTeacherDetails .profile-top .status.approuvé {
  background-color: #8eb48618;
  color: #8eb486;
  border-color: #8eb486;
}
#adminTeacherDetails .profile-top .status.en-cours {
  background-color: #81bfda1e;
  color: #81bfda;
  border-color: #81bfda;
}
#adminTeacherDetails .profile-top .status.en-révision {
  background-color: #f0bc7815;
  color: #f0bb78;
  border-color: #f0bb78;
}
#adminTeacherDetails .profile-top .status.rejeté {
  background-color: #ff748b21;
  color: #ff748b;
  border-color: #ff748b;
}
#adminTeacherDetails .profile-image {
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
  border: var(--border);
  border-radius: 0.5rem;
}
#adminTeacherDetails .profile-name {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--secondary-font-size);
  color: var(--accent-color);
}
#adminTeacherDetails .profile-username {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
}
#adminTeacherDetails .detail-row {
  padding: 1rem 0;
  border-bottom: var(--border);
}
#adminTeacherDetails .detail-row:last-of-type {
  border: none;
}
#adminTeacherDetails .detail-label {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  color: var(--dark-text-color);
  text-transform: capitalize;
}
#adminTeacherDetails .detail-value {
  flex: 2;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
}
#adminTeacherDetails .docs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
#adminTeacherDetails .doc {
  text-decoration: none;
  background-color: #ffdccb;
  color: var(--dark-text-color);
  width: 100%;
  max-width: 15rem;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  text-transform: capitalize;
  text-align: center;
  transition: ease 0.3s;
}
#adminTeacherDetails .doc:hover {
  background-color: var(--accent-color);
  color: #fff;
}
#adminTeacherDetails .no-data {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  text-align: center;
}
#adminTeacherDetails .video {
  width: 100%;
  border-radius: 0.3rem;
  opacity: 0.7;
  transition: ease 0.3s;
}
#adminTeacherDetails .video:hover {
  opacity: 1;
}
#adminTeacherDetails .table {
  width: 100%;
}
#adminTeacherDetails .table th,
#adminTeacherDetails .table td {
  padding: 1rem;
}
#adminTeacherDetails .table th:first-of-type,
#adminTeacherDetails .table td:first-of-type {
  text-align: left;
}
#adminTeacherDetails .table th:last-of-type,
#adminTeacherDetails .table td:last-of-type {
  width: 5rem;
}
#adminTeacherDetails .table .invoice {
  color: var(--accent-color);
}
#adminTeacherDetails .bank-details .table th,
#adminTeacherDetails .bank-details .table td {
  border-radius: 0;
}
#adminTeacherDetails .bank-details .table tr:first-of-type th {
  border-top-left-radius: 0.5rem;
}
#adminTeacherDetails .bank-details .table tr:first-of-type td {
  border-top-right-radius: 0.5rem;
}
#adminTeacherDetails .bank-details .table tr:last-of-type th {
  border-bottom-left-radius: 0.5rem;
}
#adminTeacherDetails .bank-details .table tr:last-of-type td {
  border-bottom-right-radius: 0.5rem;
}
#adminTeacherDetails .user-payments .table th:last-child,
#adminTeacherDetails .user-payments .table td:last-child {
  width: 7rem;
}
#adminTeacherDetails .user-payments .table .invoice {
  color: var(--primary-color);
}
#adminTeacherDetails .user-payments .table .pdf {
  color: crimson;
}
#adminTeacherDetails .user-payments .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#adminTeacherDetails .user-payments .table .action-buttons a {
  font-size: 1.2rem;
}

/* student management */
#adminStudentManagement .list th:nth-child(1),
#adminStudentManagement .list td:nth-child(1) {
  text-align: left;
}
#adminStudentManagement .list th:nth-child(2),
#adminStudentManagement .list td:nth-child(2) {
  text-align: left;
  width: 12rem;
}
#adminStudentManagement .list th:nth-child(3),
#adminStudentManagement .list td:nth-child(3) {
  text-align: left;
  width: 12rem;
}
#adminStudentManagement .list th:nth-child(4),
#adminStudentManagement .list td:nth-child(4) {
  width: 6rem;
}
#adminStudentManagement .list th:nth-child(5),
#adminStudentManagement .list td:nth-child(5) {
  width: 12rem;
}
#adminStudentManagement .table th:last-child,
#adminStudentManagement .table td:last-child {
  width: 7rem;
}
#adminStudentManagement .select-filters {
  display: flex;
  gap: 0.5rem;
}
#adminStudentManagement .select-filters .custom-select-wrapper {
  width: 15rem;
  position: relative;
  display: inline-block; /* Allow positioning the arrow next to the select */
}
#adminStudentManagement .select-filters select {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  border: var(--border);
  border-radius: 0.4rem;
  outline: none;
  padding: 0.7rem 2rem 0.7rem 1rem;
  appearance: none; /* Remove the default dropdown arrow (for most browsers) */
  -webkit-appearance: none; /* Remove the default dropdown arrow in WebKit browsers */
  -moz-appearance: none; /* Remove the default dropdown arrow in Firefox */
  width: 100%; /* Make select take full width of the wrapper */
  cursor: pointer;
  transition: ease 0.3s;
}
#adminStudentManagement .select-filters select::-ms-expand {
  display: none;
}
#adminStudentManagement .select-filters select:focus {
  border-color: var(--accent-color) !important;
}
#adminStudentManagement .select-filters .custom-arrow {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right padding to position the arrow */
  transform: translateY(-50%); /* Vertically center the arrow */
  font-size: 1rem; /* Adjust the size of the arrow */
  pointer-events: none; /* Prevent interaction with the icon */
}

/* student details */
#adminStudentDetails .section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
#adminStudentDetails .section.user-courses {
  flex: 1.5;
}
#adminStudentDetails .profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#adminStudentDetails .profile-image {
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
  border: var(--border);
  border-radius: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#adminStudentDetails .profile-name {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--secondary-font-size);
  color: var(--accent-color);
}
#adminStudentDetails .profile-username {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
}
#adminStudentDetails .detail-row {
  padding: 1rem 0;
  border-bottom: var(--border);
}
#adminStudentDetails .detail-row:last-of-type {
  border: none;
}
#adminStudentDetails .detail-label {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  color: var(--dark-text-color);
}
#adminStudentDetails .detail-value {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
}
#adminStudentDetails .table {
  width: 100%;
}
#adminStudentDetails .table th,
#adminStudentDetails .table td {
  padding: 1rem;
}
#adminStudentDetails .table th:first-of-type,
#adminStudentDetails .table td:first-of-type {
  text-align: left;
}
#adminStudentDetails .table th:last-of-type,
#adminStudentDetails .table td:last-of-type {
  width: 5rem;
}
#adminStudentDetails .table .credit,
#adminStudentDetails .table .invoice {
  color: var(--primary-color);
}
#adminStudentDetails .table .pdf {
  color: crimson;
}
#adminStudentDetails .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#adminStudentDetails .table .action-buttons a {
  font-size: 1.2rem;
}

/* parent management */
#adminParentManagement .list th:nth-child(1),
#adminParentManagement .list td:nth-child(1) {
  text-align: left;
}
#adminParentManagement .list th:nth-child(2),
#adminParentManagement .list td:nth-child(2) {
  width: 15rem;
}
#adminParentManagement .list th:nth-child(3),
#adminParentManagement .list td:nth-child(3) {
  width: 15rem;
}
#adminParentManagement .table th:last-child,
#adminParentManagement .table td:last-child {
  width: 7rem;
}
#adminParentManagement .filter-container {
  flex-direction: row-reverse;
}

/* course levels page */
#adminCourseLevel .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#adminCourseLevel .add-form {
  flex: 1;
  border-radius: 0.4rem !important;
}
#adminCourseLevel .table {
  flex: 1;
}
#adminCourseLevel .table th:nth-child(1),
#adminCourseLevel .table td:nth-child(1) {
  text-align: left;
}
#adminCourseLevel .table th:last-child,
#adminCourseLevel .table td:last-child {
  width: 7rem;
}
#adminCourseLevel .edit-form {
  border-radius: 0.4rem !important;
  width: 100%;
  max-width: 40rem;
}

/* course grades page */
#adminCourseGrade .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#adminCourseGrade .add-form {
  flex: 1;
  border-radius: 0.4rem !important;
}
#adminCourseGrade .table {
  flex: 1;
}
#adminCourseGrade .table th:nth-child(1),
#adminCourseGrade .table td:nth-child(1) {
  text-align: left;
}
#adminCourseGrade .table th:last-child,
#adminCourseGrade .table td:last-child {
  width: 7rem;
}
#adminCourseGrade .edit-form {
  border-radius: 0.4rem !important;
  width: 100%;
  max-width: 40rem;
}

/* course topics page */
/* #adminCourseTopic .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#adminCourseTopic .add-form {
  flex: 2;
  border-radius: 0.4rem !important;
}
#adminCourseTopic .table {
  flex: 3;
} */
#adminCourseTopic .table th:nth-child(1),
#adminCourseTopic .table td:nth-child(1) {
  text-align: left;
}
#adminCourseTopic .table th:nth-child(2),
#adminCourseTopic .table td:nth-child(2) {
  width: 20rem;
  text-align: left;
}
#adminCourseTopic .table th:nth-child(3),
#adminCourseTopic .table td:nth-child(3) {
  width: 8rem;
  text-align: left;
}
#adminCourseTopic .table th:nth-child(4),
#adminCourseTopic .table td:nth-child(4) {
  width: 8rem;
  text-align: left;
}
#adminCourseTopic .table th:nth-child(5),
#adminCourseTopic .table td:nth-child(5) {
  width: 5rem;
}
#adminCourseTopic .table th:last-child,
#adminCourseTopic .table td:last-child {
  width: 7rem;
}
#adminCourseTopic .edit-form {
  border-radius: 0.4rem !important;
  width: 100%;
  /* max-width: 40rem; */
}
#adminCourseTopic .topic-image {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.3rem;
}
#adminCourseTopic .topic-image.thumbnail {
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}
#adminCourseTopic .topic-image.medium {
  max-width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}

/* course categroies page */
#adminCourseCategory .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#adminCourseCategory .add-form {
  flex: 1;
  border-radius: 0.4rem !important;
}
#adminCourseCategory .table {
  flex: 1;
}
#adminCourseCategory .table th:nth-child(1),
#adminCourseCategory .table td:nth-child(1) {
  text-align: left;
}
#adminCourseCategory .table th:nth-child(2),
#adminCourseCategory .table td:nth-child(2) {
  width: 10rem;
}
#adminCourseCategory .table th:last-child,
#adminCourseCategory .table td:last-child {
  width: 7rem;
}
#adminCourseCategory .edit-form {
  border-radius: 0.4rem !important;
  width: 100%;
  max-width: 40rem;
}
#adminCourseCategory .category-image {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.3rem;
}
#adminCourseCategory .category-image.thumbnail {
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}
#adminCourseCategory .category-image.medium {
  max-width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}

/* course management page */
#adminCourseManagement .course-image {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.3rem;
}
#adminCourseManagement .course-image.thumbnail {
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}
#adminCourseManagement .course-image.medium {
  max-width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}
#adminCourseManagement .table th:nth-child(1),
#adminCourseManagement .table td:nth-child(1) {
  text-align: left;
}
#adminCourseManagement .table th:nth-child(2),
#adminCourseManagement .table td:nth-child(2) {
  text-align: left;
  width: 20rem;
}
#adminCourseManagement .table th:nth-child(3),
#adminCourseManagement .table td:nth-child(3) {
  text-align: left;
  width: 10rem;
}
#adminCourseManagement .table th:nth-child(4),
#adminCourseManagement .table td:nth-child(4) {
  text-align: left;
  width: 9rem;
}
#adminCourseManagement .table th:nth-child(5),
#adminCourseManagement .table td:nth-child(5) {
  text-align: left;
  width: 9rem;
}
#adminCourseManagement .table th:last-child,
#adminCourseManagement .table td:last-child {
  width: 7rem;
}

/* add course page */
#adminAddCourse .recurring-dates,
#adminAddCourse .recurring-days,
#adminAddCourse .recurring-time-slots {
  display: none;
}
#adminAddCourse .search-teacher .teacher-container,
#adminAddCourse .selected-teachers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#adminAddCourse .search-teacher .teacher-card,
#adminAddCourse .selected-teachers .teacher-card {
  width: calc((100% / 3) - 0.7rem);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  border: var(--border);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
  position: relative;
}
#adminAddCourse .selected-teachers .teacher-card {
  cursor: initial;
  position: relative;
  background-color: #fff5f1;
  border-color: #ffbe9d;
  box-shadow: var(--box-shadow-light);
}
#adminAddCourse .search-teacher .teacher-card:hover {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-medium);
}
#adminAddCourse .search-teacher .teacher-image,
#adminAddCourse .selected-teachers .teacher-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  object-fit: cover;
  border: var(--border);
}
#adminAddCourse .search-teacher .teacher-name,
#adminAddCourse .selected-teachers .teacher-name {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--text-font-size);
}
#adminAddCourse .search-teacher .teacher-status {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #fff;
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  z-index: 1;
}
#adminAddCourse .search-teacher .teacher-status.available {
  background-color: lightgreen;
}
#adminAddCourse .search-teacher .teacher-card:hover .teacher-name {
  color: #fff;
}
#adminAddCourse .selected-teachers .remove-teacher {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  background-color: transparent;
  color: crimson;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
}

/* edit course page */
#adminEditCourse .current-image-preview {
  width: 100%;
  max-width: 50rem;
  max-height: 30rem;
  margin: 0 auto;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.5rem;
}
#adminEditCourse .search-teacher .teacher-container,
#adminEditCourse .selected-teachers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#adminEditCourse .search-teacher .teacher-card,
#adminEditCourse .selected-teachers .teacher-card {
  width: calc((100% / 3) - 0.7rem);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  border: var(--border);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
  position: relative;
}
#adminEditCourse .selected-teachers .teacher-card {
  cursor: initial;
  position: relative;
  background-color: #fff5f1;
  border-color: #ffbe9d;
  box-shadow: var(--box-shadow-light);
}
#adminEditCourse .search-teacher .teacher-card:hover {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-medium);
}
#adminEditCourse .search-teacher .teacher-image,
#adminEditCourse .selected-teachers .teacher-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  object-fit: cover;
  border: var(--border);
}
#adminEditCourse .search-teacher .teacher-name,
#adminEditCourse .selected-teachers .teacher-name {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--text-font-size);
}
#adminEditCourse .search-teacher .teacher-status {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #fff;
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  z-index: 1;
}
#adminEditCourse .search-teacher .teacher-status.available {
  background-color: lightgreen;
}
#adminEditCourse .search-teacher .teacher-card:hover .teacher-name {
  color: #fff;
}
#adminEditCourse .selected-teachers .remove-teacher {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  background-color: transparent;
  color: crimson;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
}

/* session management page */
#adminSessionManagement .table th:nth-child(1),
#adminSessionManagement .table td:nth-child(1) {
  text-align: left;
}
#adminSessionManagement .table th:last-child,
#adminSessionManagement .table td:last-child {
  width: 7rem;
}

/* session groups page */
#adminSessionGroups .table th:nth-child(1),
#adminSessionGroups .table td:nth-child(1) {
  width: 10rem;
}
#adminSessionGroups .table th:nth-child(2),
#adminSessionGroups .table td:nth-child(2) {
  text-align: left;
}
#adminSessionGroups .table th:last-child,
#adminSessionGroups .table td:last-child {
  width: 7rem;
}

/* session group details */
#adminSessionGroupDetails .course-details {
  align-items: flex-start;
}
#adminSessionGroupDetails .course-info {
  flex: 2;
  background-color: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
#adminSessionGroupDetails .course-title {
  font-size: 1.5rem;
  font-family: var(--accent-font-family);
  font-weight: var(--secondary-font-weight);
  color: var(--dark-text-color);
}
#adminSessionGroupDetails .schedule-title,
#adminSessionGroupDetails .teacher-title,
#adminSessionGroupDetails .meeting-title,
#adminSessionGroupDetails .settings-title,
#adminSessionGroupDetails .sidebar-title {
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  color: var(--primary-color);
  border-bottom: var(--border);
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}
#adminSessionGroupDetails .class-schedule ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#adminSessionGroupDetails .class-schedule li,
#adminSessionGroupDetails .teacher-name,
#adminSessionGroupDetails .student-name {
  font-size: var(--accent-font-size);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  color: var(--dark-text-color);
  text-decoration: none;
}
#adminSessionGroupDetails .teacher-name:hover,
#adminSessionGroupDetails .student-name:hover {
  color: var(--accent-color);
}
#adminSessionGroupDetails .teacher-name {
  font-size: 1.2rem;
  font-weight: 700;
}
#adminSessionGroupDetails .class-schedule .value,
#adminSessionGroupDetails .teacher-data,
#adminSessionGroupDetails .student-data {
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--text-color);
}
#adminSessionGroupDetails .teacher-data {
  border-bottom: var(--border);
  padding-bottom: 1rem;
}
#adminSessionGroupDetails .teacher-data:last-of-type {
  border: none;
}
#adminSessionGroupDetails .teacher-data .label {
  color: var(--dark-text-color);
  font-weight: var(--accent-font-weight);
  margin-right: 0.5rem;
}
#adminSessionGroupDetails .teacher-data a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: var(--border);
  border-color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#adminSessionGroupDetails .teacher-data a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
#adminSessionGroupDetails .teacher-image {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.5rem;
}
#adminSessionGroupDetails .meeting-details {
  align-items: flex-start;
}
#adminSessionGroupDetails .meeting-link-container {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}
#adminSessionGroupDetails .meeting-link {
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}
#adminSessionGroupDetails .meeting-link-copy {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: ease 0.3s;
}
#adminSessionGroupDetails .meeting-link-copy:hover {
  color: var(--primary-color);
}
#adminSessionGroupDetails .settings .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#adminSessionGroupDetails .meeting-details .button,
#adminSessionGroupDetails .settings .button {
  outline: none;
  border: var(--border);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--accent-font-size);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#adminSessionGroupDetails .settings .button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#adminSessionGroupDetails .settings .button.cancel {
  background-color: rgb(255, 224, 230);
  color: crimson;
}
#adminSessionGroupDetails .meeting-details .button:hover,
#adminSessionGroupDetails .settings .button:hover {
  opacity: 0.8;
}
#adminSessionGroupDetails .course-sidebar {
  flex: 1;
  background-color: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
#adminSessionGroupDetails .course-sidebar .list {
  list-style: none;
}
#adminSessionGroupDetails .sidebar-title {
  margin: 0;
}
#adminSessionGroupDetails .list-item {
  border-bottom: var(--border);
  padding-bottom: 0.7rem;
}
#adminSessionGroupDetails .list-item:last-of-type {
  border: none;
  padding: none;
}
#adminSessionGroupDetails .course-sidebar .student-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.3rem;
}
#adminSessionGroupDetails .material-link-container {
  align-items: center;
}
#adminSessionGroupDetails .material-link {
  word-break: break-all;
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}
#adminSessionGroupDetails .material-link-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#adminSessionGroupDetails .material-link-icon:hover {
  color: var(--accent-color);
}
/* add/update class link modal */
#addLinkModal .modal-content {
  background-color: var(--gray-background-color);
  margin: 5% auto;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 45rem;
  position: relative;
}
#addLinkModal .modal-heading {
  width: 100%;
  text-align: center;
}
#addLinkModal form {
  width: 100% !important;
}
#addLinkModal label {
  text-align: left;
}
#addLinkModal .modal-button.confirm {
  background-color: var(--primary-color);
  color: white;
}
/* reprogram class modal */
#reprogramModal .modal-content {
  background-color: var(--gray-background-color);
  margin: 3% auto;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 60rem;
  position: relative;
}
#reprogramModal form {
  width: 100% !important;
}
#reprogramModal label {
  text-align: left;
}
#reprogramModal .modal-button.confirm {
  background-color: var(--primary-color);
  color: white;
}
/* cancel class modal */
#cancelModal .modal-content {
  background-color: var(--gray-background-color);
  margin: 5% auto;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 45rem;
  position: relative;
}
#cancelModal form {
  width: 100% !important;
}
#cancelModal label {
  text-align: left;
}

/* session group resources page */
#adminSessionGroupResources .button.add-resource {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
  border: var(--border);
  background-color: var(--accent-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  opacity: 0.8;
  transition: ease 0.3s;
}
#adminSessionGroupResources .button.add-resource:hover {
  opacity: 1;
}
#adminSessionGroupResources .file-container {
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#adminSessionGroupResources .file-card {
  width: calc((100% / 4) - 0.54rem);
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}
#adminSessionGroupResources .file-top {
  position: relative;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
#adminSessionGroupResources .file-icon {
  font-size: 5rem;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  opacity: 0.2;
}
#adminSessionGroupResources .file-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#adminSessionGroupResources .file-type.assignment {
  background-color: rgb(255, 224, 230);
  color: crimson;
  border-color: crimson;
}
#adminSessionGroupResources .file-type.report {
  background-color: rgb(255, 237, 231);
  color: orangered;
  border-color: orangered;
}
#adminSessionGroupResources .file-type.slide {
  background-color: rgb(228, 252, 252);
  color: darkcyan;
  border-color: darkcyan;
}
#adminSessionGroupResources .file-bottom {
  width: 100%;
  background-color: var(--gray-background-color);
  padding: 1rem;
}
#adminSessionGroupResources .file-bottom .col {
  flex: content;
  justify-content: center;
}
#adminSessionGroupResources .file-title {
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
}
#adminSessionGroupResources .file-info {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
}
#adminSessionGroupResources .file-info .accent {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#adminSessionGroupResources .file-info .accent:hover {
  color: var(--accent-color);
}
#adminSessionGroupResources .download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease 0.3s;
}
#adminSessionGroupResources .download-button:hover {
  opacity: 1;
}

/* submissions page */
#adminSessionGroupSubmissions .upload-file-button {
  width: fit-content;
  background-color: #fdf2ef;
  border-radius: 5px;
}
#adminSessionGroupSubmissions .upload-file-button:hover {
  background-color: var(--accent-color);
}
#adminSessionGroupSubmissions .upload-file-label {
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-weight);
}
#adminSessionGroupSubmissions .upload-file-button:hover .upload-file-label {
  color: white;
}
#adminSessionGroupSubmissions .upload-file-input {
  display: none; /* Hidden input */
}
#adminSessionGroupSubmissions .file-name {
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}
#adminSessionGroupSubmissions .file-container {
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#adminSessionGroupSubmissions .file-card {
  width: calc((100% / 4) - 0.54rem);
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}
#adminSessionGroupSubmissions .file-top {
  position: relative;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
#adminSessionGroupSubmissions .file-icon {
  font-size: 5rem;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  opacity: 0.2;
}
#adminSessionGroupSubmissions .file-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#adminSessionGroupSubmissions .file-type.submission {
  background-color: rgb(228, 235, 255);
  color: royalblue;
  border-color: royalblue;
}
#adminSessionGroupSubmissions .file-bottom {
  width: 100%;
  background-color: var(--gray-background-color);
  padding: 1rem;
}
#adminSessionGroupSubmissions .file-bottom .col {
  flex: content;
  justify-content: center;
}
#adminSessionGroupSubmissions .file-title {
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
}
#adminSessionGroupSubmissions .file-info {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
}
#adminSessionGroupSubmissions .file-info .accent {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#adminSessionGroupSubmissions .file-info .accent:hover {
  color: var(--accent-color);
}
#adminSessionGroupSubmissions .download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease 0.3s;
}
#adminSessionGroupSubmissions .download-button:hover {
  opacity: 1;
}

/* payments page */
#adminPayments .filter-container {
  flex-direction: row-reverse;
}
#adminPayments .list th:nth-child(1),
#adminPayments .list td:nth-child(1) {
  text-align: left;
}
#adminPayments .list th:nth-child(2),
#adminPayments .list td:nth-child(2) {
  text-align: left;
}
#adminPayments .table th:last-child,
#adminPayments .table td:last-child {
  width: 7rem;
}
#adminPayments .table .invoice {
  color: var(--primary-color);
}
#adminPayments .table .pdf {
  color: crimson;
}
#adminPayments .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#adminPayments .table .action-buttons a {
  font-size: 1.2rem;
}

/* teacher payments page */
#adminTeacherPayment .table th,
#adminTeacherPayment .table td {
  padding: 1rem;
}
#adminTeacherPayment .table th:first-of-type,
#adminTeacherPayment .table td:first-of-type {
  text-align: left;
}
#adminTeacherPayment .table th:last-of-type,
#adminTeacherPayment .table td:last-of-type {
  width: 5rem;
}
#adminTeacherPayment .table .invoice {
  color: var(--primary-color);
}
#adminTeacherPayment .table .pdf {
  color: crimson;
}
#adminTeacherPayment .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#adminTeacherPayment .table .action-buttons a {
  font-size: 1.2rem;
}

/* make teacher payment page */
#adminMakeTeacherPayment .bank-details .table {
  width: 100%;
}
#adminMakeTeacherPayment .table th {
  text-align: left;
  width: 20rem;
  border-radius: 0;
}
#adminMakeTeacherPayment .table tr:first-of-type th {
  border-top-left-radius: 0.5rem;
}
#adminMakeTeacherPayment .table tr:last-of-type th {
  border-bottom-left-radius: 0.5rem;
}
#adminMakeTeacherPayment .table td {
  text-align: left;
  padding-left: 2rem;
}
#adminMakeTeacherPayment .table tr:first-of-type td {
  border-top-right-radius: 0.5rem;
}
#adminMakeTeacherPayment .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
