/* course details page */
#courseDetails .course-details {
  align-items: flex-start;
}
#courseDetails .course-info {
  flex: 2;
  background-color: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
#courseDetails .course-title {
  font-size: 1.5rem;
  font-family: var(--accent-font-family);
  font-weight: var(--secondary-font-weight);
  color: var(--dark-text-color);
}
#courseDetails .schedule-title,
#courseDetails .teacher-title,
#courseDetails .meeting-title,
#courseDetails .settings-title,
#courseDetails .list-title {
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  color: var(--dark-text-color);
  border-bottom: var(--border);
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}
#courseDetails .class-schedule ul {
  list-style: none;
}
#courseDetails .class-schedule li,
#courseDetails .teacher-name,
#courseDetails .student-name {
  font-size: var(--accent-font-size);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  color: var(--dark-text-color);
}
#courseDetails .class-schedule .value,
#courseDetails .teacher-data,
#courseDetails .student-data {
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--text-color);
}
#courseDetails .teacher-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.5rem;
}
#courseDetails .meeting-details {
  align-items: flex-start;
}
#courseDetails .meeting-link-container {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}
#courseDetails .meeting-link {
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}
#courseDetails .meeting-link-copy {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: ease 0.3s;
}
#courseDetails .meeting-link-copy:hover {
  color: var(--primary-color);
}
#courseDetails .settings .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#courseDetails .meeting-details .button,
#courseDetails .settings .button {
  outline: none;
  border: var(--border);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--accent-font-size);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#courseDetails .settings .button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#courseDetails .settings .button.cancel {
  background-color: rgb(255, 224, 230);
  color: crimson;
}
#courseDetails .meeting-details .button:hover,
#courseDetails .settings .button:hover {
  opacity: 0.8;
}
#courseDetails .student-list {
  flex: 1;
  background-color: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
#courseDetails .student-list .list {
  list-style: none;
}
#courseDetails .list-title {
  margin: 0;
}
#courseDetails .list-item {
  border-bottom: var(--border);
  padding-bottom: 0.7rem;
}
#courseDetails .list-item:last-of-type {
  border: none;
  padding: none;
}
#courseDetails .student-list .student-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: var(--border);
  border-radius: 0.3rem;
}

/* student management page */
#courseStudentManagement .table th,
#courseStudentManagement .table td {
  padding: 1rem;
}
#courseStudentManagement .table th:first-of-type,
#courseStudentManagement .table td:first-of-type {
  text-align: left;
}
#courseStudentManagement .table th:last-of-type,
#courseStudentManagement .table td:last-of-type {
  width: 5rem;
}
#courseStudentManagement .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#courseStudentManagement .table .action-buttons a {
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* student details page */
#courseStudentDetails .content-section {
  flex-direction: row !important;
  align-items: flex-start;
}
#courseStudentDetails .section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
#courseStudentDetails .section.user-profile {
  width: 100%;
  max-width: 40rem;
}
#courseStudentDetails .profile-top {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  margin-bottom: 1rem;
}
#courseStudentDetails .profile-image {
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
  border: var(--border);
  border-radius: 0.5rem;
}
#courseStudentDetails .profile-name {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--secondary-font-size);
  color: var(--accent-color);
}
#courseStudentDetails .detail-row {
  padding: 1rem 0;
  border-bottom: var(--border);
}
#courseStudentDetails .detail-row:last-of-type {
  border: none;
}
#courseStudentDetails .detail-label {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  color: var(--dark-text-color);
  text-transform: capitalize;
}
#courseStudentDetails .detail-value {
  flex: 1.5;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--text-color);
}

/* communication page */
#courseCommunication .chat-container {
  gap: 2rem;
}
#courseCommunication .chat-messages {
  flex: 1.5;
  gap: 2rem;
}
#courseCommunication .chat {
  align-items: flex-end;
}
#courseCommunication .chat.current-user {
  flex-direction: row-reverse;
  text-align: right;
}
#courseCommunication .chat-user {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: var(--border);
}
#courseCommunication .student .chat-user {
  border-color: var(--primary-color);
}
#courseCommunication .teacher .chat-user {
  border-color: var(--accent-color);
}
#courseCommunication .chat-user .user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#courseCommunication .chat-message {
  max-width: 70%;
  background-color: var(--gray-background-color);
  padding: 0.5rem;
  border: var(--border);
  border-radius: 0.5rem;
}
#courseCommunication .current-user.student .chat-message {
  background-color: #f2f5ff;
}
#courseCommunication .current-user.teacher .chat-message {
  background-color: #fff6f2;
}
#courseCommunication .chat .user-name {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
#courseCommunication .chat.student .user-name {
  color: var(--primary-color);
}
#courseCommunication .chat.teacher .user-name {
  color: var(--accent-color);
}
#courseCommunication .chat .message-text {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  color: var(--dark-text-color);
}
#courseCommunication .chat .message-time {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
#courseCommunication .form {
  align-items: flex-end;
}
#courseCommunication .form textarea {
  width: 100%;
  padding: 1rem 1.5rem !important;
  border: var(--border) !important;
  border-radius: 0.5rem !important;
  resize: vertical;
}
#courseCommunication .form button {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  padding: 1rem 3rem;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}
#courseCommunication .form button:hover {
  background-color: var(--accent-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.modal-close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
