/* credit management page */
#parentCredit .statistics .section-body {
  align-items: flex-start;
}
#parentCredit .button.buy-credit {
  display: inline-block;
  text-decoration: none;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: ease 0.3s;
}
#parentCredit .button.buy-credit:hover {
  background-color: var(--accent-color);
}
#parentCredit .table {
  width: 100%;
}
#parentCredit .table .credit {
  color: var(--accent-color);
}

/* payments page */
#parentPayments .filter-container {
  flex-direction: row-reverse;
}
#parentPayments .list th:nth-child(1),
#parentPayments .list td:nth-child(1) {
  text-align: left;
}
#parentPayments .table th:last-child,
#parentPayments .table td:last-child {
  width: 7rem;
}
#parentPayments .table .invoice {
  color: var(--primary-color);
}
#parentPayments .table .pdf {
  color: crimson;
}
#parentPayments .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#parentPayments .table .action-buttons a {
  font-size: 1.2rem;
}
