/* dashboard */
#studentDashboard .statistic-box.total-course {
  background-color: rgb(242, 248, 255);
}
#studentDashboard .statistic-box.total-course:hover {
  background-color: rgb(221, 237, 255);
}
#studentDashboard .statistic-box.total-course .statistic-value {
  color: rgb(0, 96, 206);
}
#studentDashboard .statistic-box.total-in-progress-course {
  background-color: rgb(255, 248, 238);
}
#studentDashboard .statistic-box.total-in-progress-course:hover {
  background-color: rgb(255, 240, 219);
}
#studentDashboard .statistic-box.total-in-progress-course .statistic-value {
  color: rgb(238, 139, 0);
}
#studentDashboard .statistic-box.total-completed-course {
  background-color: rgb(248, 255, 238);
}
#studentDashboard .statistic-box.total-completed-course:hover {
  background-color: rgb(236, 255, 208);
}
#studentDashboard .statistic-box.total-completed-course .statistic-value {
  color: rgb(133, 216, 0);
}
#studentDashboard .statistic-box.total-payments {
  background-color: rgb(255, 238, 248);
}
#studentDashboard .statistic-box.total-payments:hover {
  background-color: rgb(255, 221, 241);
}
#studentDashboard .statistic-box.total-payments .statistic-value {
  color: rgb(223, 0, 130);
}
#studentDashboard .statistic-box.total-purchased-credit {
  background-color: rgb(255, 255, 238);
}
#studentDashboard .statistic-box.total-purchased-credit:hover {
  background-color: rgb(255, 255, 221);
}
#studentDashboard .statistic-box.total-purchased-credit .statistic-value {
  color: rgb(212, 212, 0);
}
#studentDashboard .statistic-box.total-available-credit {
  background-color: rgb(247, 242, 255);
}
#studentDashboard .statistic-box.total-available-credit:hover {
  background-color: rgb(237, 227, 253);
}
#studentDashboard .statistic-box.total-available-credit .statistic-value {
  color: rgb(106, 0, 255);
}
#studentDashboard .statistic-box.total-payments .currecy {
  font-size: 2rem;
}

/* resources page */
#studentResources .select-course {
  width: 100%;
}
#studentResources .select-course label {
  font-family: var(--accent-font-family) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-bottom: -5px;
  text-transform: capitalize;
}
#studentResources .select-course select {
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  font-family: var(--text-font-family) !important;
  font-size: var(--text-font-size) !important;
  font-weight: var(--text-font-weight) !important;
  border: var(--border) !important;
  border-radius: 5px !important;
  outline: none;
  padding: 10px 30px 10px 15px !important;
  appearance: none; /* Remove the default dropdown arrow (for most browsers) */
  -webkit-appearance: none; /* Remove the default dropdown arrow in WebKit browsers */
  -moz-appearance: none; /* Remove the default dropdown arrow in Firefox */
  width: 100%; /* Make select take full width of the wrapper */
  cursor: pointer;
}
#studentResources .select-course select::-ms-expand {
  display: none;
}
#studentResources .select-course select:focus {
  border-color: var(--accent-color) !important;
}
#studentResources .select-course .custom-select-wrapper {
  position: relative;
  display: block; /* Allow positioning the arrow next to the select */
}
#studentResources .select-course .custom-arrow {
  position: absolute;
  top: 65%;
  right: 10px; /* Adjust the right padding to position the arrow */
  transform: translateY(-50%); /* Vertically center the arrow */
  font-size: 14px; /* Adjust the size of the arrow */
  color: #333; /* Change the color of the arrow */
  pointer-events: none; /* Prevent interaction with the icon */
}
#studentResources .file-container {
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#studentResources .file-card {
  width: calc((100% / 4) - 0.54rem);
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}
#studentResources .file-top {
  position: relative;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
#studentResources .file-icon {
  font-size: 5rem;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  opacity: 0.2;
}
#studentResources .file-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#studentResources .file-type.assignment {
  background-color: rgb(255, 224, 230);
  color: crimson;
  border-color: crimson;
}
#studentResources .file-type.report {
  background-color: rgb(255, 237, 231);
  color: orangered;
  border-color: orangered;
}
#studentResources .file-type.slide {
  background-color: rgb(228, 252, 252);
  color: darkcyan;
  border-color: darkcyan;
}
#studentResources .file-bottom {
  width: 100%;
  background-color: var(--gray-background-color);
  padding: 1rem;
}
#studentResources .file-bottom .col {
  flex: content;
  justify-content: center;
}
#studentResources .file-title {
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
}
#studentResources .file-info {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
}
#studentResources .file-info .accent {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#studentResources .file-info .accent:hover {
  color: var(--accent-color);
}
#studentResources .download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease 0.3s;
}
#studentResources .download-button:hover {
  opacity: 1;
}

/* progress page */
#studentProgress .select-course {
  width: 100%;
}
#studentProgress .select-course label {
  font-family: var(--accent-font-family) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-bottom: -5px;
  text-transform: capitalize;
}
#studentProgress .select-course select {
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  font-family: var(--text-font-family) !important;
  font-size: var(--text-font-size) !important;
  font-weight: var(--text-font-weight) !important;
  border: var(--border) !important;
  border-radius: 5px !important;
  outline: none;
  padding: 10px 30px 10px 15px !important;
  appearance: none; /* Remove the default dropdown arrow (for most browsers) */
  -webkit-appearance: none; /* Remove the default dropdown arrow in WebKit browsers */
  -moz-appearance: none; /* Remove the default dropdown arrow in Firefox */
  width: 100%; /* Make select take full width of the wrapper */
  cursor: pointer;
}
#studentProgress .select-course select::-ms-expand {
  display: none;
}
#studentProgress .select-course select:focus {
  border-color: var(--accent-color) !important;
}
#studentProgress .select-course .custom-select-wrapper {
  position: relative;
  display: block; /* Allow positioning the arrow next to the select */
}
#studentProgress .select-course .custom-arrow {
  position: absolute;
  top: 65%;
  right: 10px; /* Adjust the right padding to position the arrow */
  transform: translateY(-50%); /* Vertically center the arrow */
  font-size: 14px; /* Adjust the size of the arrow */
  color: #333; /* Change the color of the arrow */
  pointer-events: none; /* Prevent interaction with the icon */
}
#studentProgress .file-container {
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#studentProgress .file-card {
  width: calc((100% / 4) - 0.54rem);
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}
#studentProgress .file-top {
  position: relative;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
#studentProgress .file-icon {
  font-size: 5rem;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  opacity: 0.2;
}
#studentProgress .file-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#studentProgress .file-type.assignment {
  background-color: rgb(255, 224, 230);
  color: crimson;
  border-color: crimson;
}
#studentProgress .file-type.report {
  background-color: rgb(255, 237, 231);
  color: orangered;
  border-color: orangered;
}
#studentProgress .file-type.slide {
  background-color: rgb(228, 252, 252);
  color: darkcyan;
  border-color: darkcyan;
}
#studentProgress .file-bottom {
  width: 100%;
  background-color: var(--gray-background-color);
  padding: 1rem;
}
#studentProgress .file-bottom .col {
  flex: content;
  justify-content: center;
}
#studentProgress .file-title {
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
}
#studentProgress .file-info {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
}
#studentProgress .file-info .accent {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#studentProgress .file-info .accent:hover {
  color: var(--accent-color);
}
#studentProgress .download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease 0.3s;
}
#studentProgress .download-button:hover {
  opacity: 1;
}

/* credit management page */
#studentCredit .statistics .section-body {
  align-items: flex-start;
}
#studentCredit .button.buy-credit {
  display: inline-block;
  text-decoration: none;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: ease 0.3s;
}
#studentCredit .button.buy-credit:hover {
  background-color: var(--accent-color);
}
#studentCredit .table {
  width: 100%;
}
#studentCredit .table .credit {
  color: var(--accent-color);
}

/* payments page */
#studentPayments .filter-container {
  flex-direction: row-reverse;
}
#studentPayments .list th:nth-child(1),
#studentPayments .list td:nth-child(1) {
  text-align: left;
}
#studentPayments .table th:last-child,
#studentPayments .table td:last-child {
  width: 7rem;
}
#studentPayments .table .invoice {
  color: var(--primary-color);
}
#studentPayments .table .pdf {
  color: crimson;
}
#studentPayments .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#studentPayments .table .action-buttons a {
  font-size: 1.2rem;
}

/* course management page */
#studentCourses .tab-content .tab-pane {
  display: none;
}
#studentCourses .tab-content .tab-pane.show.active {
  display: block;
}
#studentCourses .nav-tabs {
  display: flex;
  gap: 1rem;
}
#studentCourses .nav-tabs .nav-link {
  background-color: rgb(241, 241, 241);
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-weight);
  padding: 0.5rem 1rem;
  border-bottom: var(--border);
  border-radius: 0.3rem 0.3rem 0 0;
  transition: 0.3s;
}
#studentCourses .nav-tabs .nav-link.active {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
#studentCourses .courses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#studentCourses .course-card {
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc(25% - 0.5rem);
  display: flex;
  flex-direction: column;
}
#studentCourses .course-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-bottom: var(--border);
}
#studentCourses .course-tag {
  display: inline;
  width: fit-content;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 0.9rem;
  font-weight: var(--accent-font-weight);
  border: var(--border);
  border-radius: 0.3rem;
}
#studentCourses .course-tag.in-progress {
  background-color: #e8f9ff;
  color: #155e95;
  border-color: #155e95;
}
#studentCourses .course-tag.completed {
  background-color: #eafaea;
  color: #6e8e59;
  border-color: #6e8e59;
}
#studentCourses .course-title {
  margin: 0 15px;
  height: 50px;
  color: var(--dark-text-color) !important;
  font-family: var(--accent-font-family) !important;
  font-size: var(--accent-font-size) !important;
  font-weight: var(--accent-font-weight) !important;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#studentCourses .course-info {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#studentCourses .course-info p {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}
#studentCourses .course-footer {
  margin: 2rem 1rem 1.5rem 1rem;
  display: flex;
}
#studentCourses .course-price {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
}
#studentCourses .course-price .amount {
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-weight: var(--accent-font-weight);
  color: var(--accent-color);
}
#studentCourses .course-btn {
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: var(--accent-font-family) !important;
  font-size: var(--accent-font-size) !important;
  font-weight: var(--accent-font-weight) !important;
  transition: 0.3s ease;
}
#studentCourses .course-btn:hover {
  background-color: var(--accent-color);
}
