/* dashboard */
#teacherDashboard .statistic-box.total-course {
  background-color: rgb(242, 248, 255);
}
#teacherDashboard .statistic-box.total-course:hover {
  background-color: rgb(221, 237, 255);
}
#teacherDashboard .statistic-box.total-course .statistic-value {
  color: rgb(0, 96, 206);
}
#teacherDashboard .statistic-box.total-in-progress-course {
  background-color: rgb(255, 248, 238);
}
#teacherDashboard .statistic-box.total-in-progress-course:hover {
  background-color: rgb(255, 240, 219);
}
#teacherDashboard .statistic-box.total-in-progress-course .statistic-value {
  color: rgb(238, 139, 0);
}
#teacherDashboard .statistic-box.total-completed-course {
  background-color: rgb(248, 255, 238);
}
#teacherDashboard .statistic-box.total-completed-course:hover {
  background-color: rgb(236, 255, 208);
}
#teacherDashboard .statistic-box.total-completed-course .statistic-value {
  color: rgb(133, 216, 0);
}
#teacherDashboard .statistic-box.total-student {
  background-color: rgb(255, 255, 238);
}
#teacherDashboard .statistic-box.total-student:hover {
  background-color: rgb(255, 255, 221);
}
#teacherDashboard .statistic-box.total-student .statistic-value {
  color: rgb(212, 212, 0);
}
#teacherDashboard .statistic-box.upcoming-session {
  background-color: rgb(255, 238, 248);
  gap: 0.5rem;
}
#teacherDashboard .statistic-box.upcoming-session:hover {
  background-color: rgb(255, 230, 245);
}
#teacherDashboard .statistic-box.upcoming-session .countdown-timer {
  color: rgb(223, 0, 130);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 1.5rem;
}
#teacherDashboard .statistic-box.upcoming-session .session-info {
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}

/* course management page */
#teacherCourses .tab-content .tab-pane {
  display: none;
}
#teacherCourses .tab-content .tab-pane.show.active {
  display: block;
}
#teacherCourses .nav-tabs {
  display: flex;
  gap: 1rem;
}
#teacherCourses .nav-tabs .nav-link {
  background-color: rgb(241, 241, 241);
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-weight);
  padding: 0.5rem 1rem;
  border-bottom: var(--border);
  border-radius: 0.3rem 0.3rem 0 0;
  transition: 0.3s;
}
#teacherCourses .nav-tabs .nav-link.active {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
#teacherCourses .courses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#teacherCourses .course-card {
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc(25% - 0.5rem);
  display: flex;
  flex-direction: column;
}
#teacherCourses .course-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-bottom: var(--border);
}
#teacherCourses .course-tag {
  display: inline;
  width: fit-content;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 0.9rem;
  font-weight: var(--accent-font-weight);
  border: var(--border);
  border-radius: 0.3rem;
}
#teacherCourses .course-tag.in-progress {
  background-color: #e8f9ff;
  color: #155e95;
  border-color: #155e95;
}
#teacherCourses .course-tag.completed {
  background-color: #eafaea;
  color: #6e8e59;
  border-color: #6e8e59;
}
#teacherCourses .course-title {
  margin: 0 15px;
  height: 50px;
  color: var(--dark-text-color) !important;
  font-family: var(--accent-font-family) !important;
  font-size: var(--accent-font-size) !important;
  font-weight: var(--accent-font-weight) !important;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#teacherCourses .course-info {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#teacherCourses .course-info p {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}
#teacherCourses .course-footer {
  margin: 2rem 1rem 1.5rem 1rem;
  display: flex;
}
#teacherCourses .course-price {
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
}
#teacherCourses .course-price .amount {
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-weight: var(--accent-font-weight);
  color: var(--accent-color);
}
#teacherCourses .course-btn {
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: var(--accent-font-family) !important;
  font-size: var(--accent-font-size) !important;
  font-weight: var(--accent-font-weight) !important;
  transition: 0.3s ease;
}
#teacherCourses .course-btn:hover {
  background-color: var(--accent-color);
}

/* resources page */
#teacherResources .select-session {
  width: 100%;
}
#teacherResources .select-session label {
  font-family: var(--accent-font-family) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-bottom: -5px;
  text-transform: capitalize;
}
#teacherResources .select-session select {
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  font-family: var(--text-font-family) !important;
  font-size: var(--text-font-size) !important;
  font-weight: var(--text-font-weight) !important;
  border: var(--border) !important;
  border-radius: 5px !important;
  outline: none;
  padding: 10px 30px 10px 15px !important;
  appearance: none; /* Remove the default dropdown arrow (for most browsers) */
  -webkit-appearance: none; /* Remove the default dropdown arrow in WebKit browsers */
  -moz-appearance: none; /* Remove the default dropdown arrow in Firefox */
  width: 100%; /* Make select take full width of the wrapper */
  cursor: pointer;
}
#teacherResources .select-session select::-ms-expand {
  display: none;
}
#teacherResources .select-session select:focus {
  border-color: var(--accent-color) !important;
}
#teacherResources .select-session .custom-select-wrapper {
  position: relative;
  display: block; /* Allow positioning the arrow next to the select */
}
#teacherResources .select-session .custom-arrow {
  position: absolute;
  top: 65%;
  right: 10px; /* Adjust the right padding to position the arrow */
  transform: translateY(-50%); /* Vertically center the arrow */
  font-size: 14px; /* Adjust the size of the arrow */
  color: #333; /* Change the color of the arrow */
  pointer-events: none; /* Prevent interaction with the icon */
}
#teacherResources .file-container {
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}
#teacherResources .file-card {
  width: calc((100% / 4) - 0.54rem);
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}
#teacherResources .file-top {
  position: relative;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
#teacherResources .file-icon {
  font-size: 5rem;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  opacity: 0.2;
}
#teacherResources .file-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  padding: 0.3rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#teacherResources .file-type.assignment {
  background-color: rgb(255, 224, 230);
  color: crimson;
  border-color: crimson;
}
#teacherResources .file-type.report {
  background-color: rgb(255, 237, 231);
  color: orangered;
  border-color: orangered;
}
#teacherResources .file-type.slide {
  background-color: rgb(228, 252, 252);
  color: darkcyan;
  border-color: darkcyan;
}
#teacherResources .file-bottom {
  width: 100%;
  height: 10rem;
  align-items: start;
  background-color: var(--gray-background-color);
  padding: 1rem;
}
#teacherResources .file-bottom .col {
  flex: content;
  justify-content: center;
}
#teacherResources .file-title {
  color: var(--dark-text-color);
  font-family: var(--accent-font-family);
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
}
#teacherResources .file-info {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: 0.8rem;
}
#teacherResources .file-info .accent {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--accent-font-weight);
}
#teacherResources .file-info .accent:hover {
  color: var(--accent-color);
}
#teacherResources .download-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease 0.3s;
}
#teacherResources .download-button:hover {
  opacity: 1;
}

/* revenues page */
#teacherRevenue .statistic-box.total-due .currecy,
#teacherRevenue .statistic-box.total-deposit .currecy {
  font-size: 2rem;
}
#teacherRevenue .statistic-box.total-due {
  background-color: rgb(255, 238, 248);
}
#teacherRevenue .statistic-box.total-due:hover {
  background-color: rgb(255, 221, 241);
}
#teacherRevenue .statistic-box.total-due .statistic-value {
  color: rgb(223, 0, 130);
}
#teacherRevenue .statistic-box.total-deposit {
  background-color: rgb(247, 242, 255);
}
#teacherRevenue .statistic-box.total-deposit:hover {
  background-color: rgb(237, 227, 253);
}
#teacherRevenue .statistic-box.total-deposit .statistic-value {
  color: rgb(106, 0, 255);
}
#teacherRevenue .table th,
#teacherRevenue .table td {
  padding: 1rem;
}
#teacherRevenue .table th:first-of-type,
#teacherRevenue .table td:first-of-type {
  text-align: left;
}
#teacherRevenue .table th:last-of-type,
#teacherRevenue .table td:last-of-type {
  width: 5rem;
}
#teacherRevenue .table .invoice {
  color: var(--primary-color);
}
#teacherRevenue .table .pdf {
  color: crimson;
}
#teacherRevenue .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#teacherRevenue .table .action-buttons a {
  font-size: 1.2rem;
}

/* bank details page */
#teacherBankDetails .bank-details .table {
  width: 100%;
}
#teacherBankDetails .table th {
  text-align: left;
  width: 20rem;
  border-radius: 0;
}
#teacherBankDetails .table tr:first-of-type th {
  border-top-left-radius: 0.5rem;
}
#teacherBankDetails .table tr:last-of-type th {
  border-bottom-left-radius: 0.5rem;
}
#teacherBankDetails .table td {
  text-align: left;
  padding-left: 2rem;
}
#teacherBankDetails .table tr:first-of-type td {
  border-top-right-radius: 0.5rem;
}
#teacherBankDetails .table .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
